/*body{
  background-color: white !important;
}*/
.navbar{
  background-color: white !important;
}
a{
  color: black !important;
  font-family: 'Lucida Grande' !important;
}
.heading{
  color: white !important;
  font-family: 'Lucida Grande' !important;
  font-size: 110px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.DropdownLink{
  color: black !important;
  font-family: 'Lucida Grande' !important;
}
.dropdown-header{
  color: black !important;
}
img{
  margin-top: 0px !important;
  padding-top: 0px !important;
}
/*h1{
  font-size: 110px !important;
}*/
section{
  width: 100%;
  height: 800px;
  float: left;
}
#page1{
  background-color: #2db92d;
}
#page2{
  background-color: white;
}
.secondHeading{
  color: #2db92d;
  font-family: 'Lucida Grande';
  font-size: 50px !important;
}
.learnMore{
  color: #cc0000 !important;
  font-family: 'Lucida Grande' !important;
}
a:hover {
    text-decoration: underline;
}


