body{
  background-color: #2db92d;
}
h1{
  color: #cc0000;
  font-family: 'Lucida Grande'
}
.whole{
  background-color: #2db92d;
}
.navbar navbar-default navbar-fixed-top{
  background-color: #cc0000;
}
