body{
  background-color: #2db92d !important;
}
h1{
  color: #cc0000;
  font-family: 'Lucida Grande'
}
.navbar{
  background-color: #cc0000;
}
a{
  color: white !important;
}
.jumbotron{
  background-color:#2db92d !important;
  color: white !important;
  font-family: 'Lucida Grande' !important;
}
.DropdownLink{
  color: black !important;
}
.dropdown-header{
  color: black !important;
}
.login{
  color: white !important;
}
